main {
  margin: 20px;
}

img {
  width: 100%;
  height: 100%;
}

.content-search {
  display: flex;
  width: 100%;
}

.content-search-img {
  width: 40%;
  margin-right: 40px;
}

.content-search-info {
  width: 70%;
}

.content-info_profile {
  margin: 20px 0px;
}

/* 검색화면 */

.content-row {
  width: 100%;
  margin-bottom: 20px;
}

.content {
  display: flex;
  width: 100%;
  margin-right: 20px;
  transition: all 0.5s;
}

.content .img {
  width: 30%;
}

.content .info {
  width: 70%;
}

.content .channel {
  display: flex;
  align-items: center;
}

.content .info .channel img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
