.hidden {
  display: none;
}

img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: -1;
}

#wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  color: white;
  margin: 50px;
}

#greeting {
  color: blue;
}

#todo-list button {
  color: white;
  background-color: rgb(0, 53, 119);
  border: none;
  margin-left: 10px;
}

#wrap2 {
  font-style: italic;
  color: white;
  margin: 50px;
}
