main {
  display: flex;
  padding: 30px 0px;
}

.column:first-child {
  width: 60%;
  margin-right: 20px;
}

.column:last-child {
  width: 40%;
}

.video_wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.video_wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.meta_row {
  padding: 20px 0px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

/* 영상정보 */

.meta_title_wrap {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.meta_hashtag {
  font-size: 12px;
  font-weight: 200;
  color: blue;
}

.meta_title {
  font-size: 20px;
  font-weight: 500;
}

.meta_text_icons {
  display: flex;
}

.meta_text {
  width: 40%;
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.meta_text span {
  margin-right: 3%;
}

.meta_icons {
  width: 60%;
  display: flex;
  align-items: center;
}

.meta_icons i {
  margin-right: 3%;
}

.meta_icons span {
  font-weight: 200;
  font-size: 13px;
  padding: 0px 2px;
}
/* 댓글 쓰기 */

.comment_write {
  display: flex;
}

.comment_profile {
  width: 5%;
  height: 5%;
}

.comment_profile img {
  border-radius: 50%;
}

.comment_write input {
  width: 80%;
}

/* 채널정보 */

.meta_channel_row {
  display: flex;
}

.meta_profile_img {
  width: 45px;
  height: max-content;
  margin-right: 10px;
}

.meta_profile_img img {
  border-radius: 50%;
}

.meta_profile_text {
  width: 88%;
}

.meta .channel-name {
  font-size: 15px;
  font-weight: 600;
}

.meta .subscribe-num {
  font-size: 12px;
}

.meta_profile_text2 {
  font-size: 12px;
}

.subscribe {
  width: 65px;
}

.subscribe button {
  padding: 8px 16px;
  background-color: #cc0000;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border: none;
}

/* 댓글 리스트 */

.comment {
  padding-top: 20px;
}

.comment_header span {
  margin-right: 20px;
}

.comment_write {
  margin: 20px 0px;
}

.comment_write form {
  width: 100%;
  height: 15px;
}

.comment_write input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
  padding: 0;
}

.comment_list li {
  display: flex;
  margin-bottom: 20px;
}

li img {
  border-radius: 50%;
}

.comment_profile {
  margin-right: 10px;
}

.comment_row:first-child span:first-child {
  font-size: 15px;
  font-weight: bolder;
}

.comment_row:first-child span:last-child {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.comment_row:last-child span {
  font-size: 13px;
  margin-right: 10px;
}

/* 추천동영상 */

.filter button {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}

.recommend_video li {
  display: flex;
  margin-bottom: 5px;
}

.recommend_video_wrap iframe {
  width: 200px;
  height: 113px;
}

.recommend_video_info {
  margin-left: 10px;
}

.recommend_video_info .title {
  font-size: 15px;
  font-weight: 600;
}

.recommend_video_info .channel,
.recommend_video_info .view_date {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
