.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component img {
  width: 60px;
  height: 60px;
  border-radius: 30%;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__text {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
}

.user-component__text h6 {
  margin-top: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user-component__column:last-child span {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 7px;
}

.user-component__img-sm {
  width: 40px !important;
  height: 40px !important;
}

.user-component__text-sm {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 400;
}

.channel-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  margin: 15px 0px;
}

.channel-bar__column span {
  font-size: 15px;
  font-weight: 400;
}

/* .test_div span {
  font-size: 50px;
}

.test1:first-child {
  font-size: 20px;
}

.test2 {
  font-size: 30px;
} */
