.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.row {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
}

.profile_img {
  width: 150px;
  height: 150px;
}

.plus_button {
  width: 150px;
  height: 150px;
  font-size: 70px;
  font-weight: 600;
  border: 5px solid black;
  background-color: white;
}

.profile_edit {
  color: black;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid black;
  background-color: white;
}

figure {
  position: relative;
  margin: 0px 20px;
}

figcaption {
  background: rgba(55, 55, 55, 0.5);
  color: white;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_icon {
  font-size: 30px;
}
