.abc {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 600;
}

.abc span {
  font-size: 20px;
  margin-left: 7px;
}

#splash-screen {
  background-color: var(--yellow);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
