.container {
  display: flex;
  border: 1px solid black;
  width: 600px;
  height: 400px;
  padding: 20px;
}

.text_box {
  padding: 20px;
}

.movie_title {
  font-size: 25px;
}

.movie_year {
  margin: 0px;
  font-weight: 600;
}
