.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
  padding: 20px 40px;
  border-top: 0.4px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 18px;
  bottom: 15px;
  animation: notificationAnimation 1s ease-in-out infinite;
}

.nav__dot {
  width: 6px;
  height: 6px;
  background-color: tomato;
  border-radius: 50%;

  position: absolute;
  right: -5px;
  bottom: 30px;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  animation: appearBtnAnimation 0.5s ease-in-out forwards;
  opacity: 0;
  transform: translateY(50px);
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}

.nav__btn:nth-child(4) {
  animation-delay: 0.6s;
}
